@import '@material-tailwind/react/tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

div {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.bg-light {
  --bs-bg-opacity: 1;
  /* background-color: rgb(125 126 230) !important; */
  background-color: hsl(206, 67%, 31%);
}

