.bg-white {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
  .text-white{
    background-color: darkslateblue;
  }
  .text-purple-600{
    color:darkslateblue;
    font-weight: 700;
  }